<%= form_for Place.new do |f| %>
  <%= text_field_tag :address, '', :placeholder => 'search for address...' %>
  <button type="submit">Search</button>
  
  <%= f.hidden_field :path %>
  <%= f.hidden_field :geocode %>
  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>
<% end %>

<div id="map">
  
</div>

<div class="footer">
  Created by <%= link_to "Ben Nolan", "http://www.bennolan.com/" %>. Check out the source at <%= link_to "github", "https://github.com/bnolan/nice-map-urls" %>.
  If you're interested in geosocial stuff, you might like <%= link_to "Placepinner", "https://www.placepinner.com/" %>.
</div>

<script>
  $(function(){
    var view = new SearchView(<%= @place.to_json.html_safe %>)
    
    <% if @path.present? and @place.nil? %>
      // This is vulnerable to html injection...
      view.resolveAndGoto(<%= @path.to_json.html_safe %>);
    <% end %>
  });
</script>